@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #191919;
}

header {
    background-color: #23232e;
    box-shadow: 0px 3px 10px #464545;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 6rem;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 500;
}

.portfolio {
    text-decoration: none;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
    
    margin-right: 30px;
    cursor: pointer;
    letter-spacing: 1px;
}

.nav-link {
    text-decoration: none;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 300;
}

.language img {
    width: 70px;
}

.mode img {
    width: 70px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

a {
    color: #ffffff;
    transition: 0.3s;
    padding-block: 16px;
}

a:hover {
    opacity: 0.7;
}

.me {
    padding-left: 200px;
}

.me h1 {
    color: aliceblue;
    font-size: 55px;
}

.me h2 {
    color: aliceblue;
    font-size: 25px;
}

#inicio {
    display: flex;
    align-items: center;
    background: url("/img/laptop.gif") no-repeat center right;
    height: 82vh;
}

#sobremim {
    display: flex;
    align-items: center;
    padding: 60px 27.5%;
    background-color: black;
}

section img {
    height: 400px;
    border-radius: 30%;
    margin-right: 100px;
}

section div h2 {
    color: #fff;
    font-size: 45px;
}

section div p {
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}

section div button {
    color: #fff;
    background: #23232e;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

section div button:hover {
    background-color: gray;
    border: 2px solid purple;
    transition: 0.5s;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 2rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }
}